@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --enjoy-primary: #7338f0;
  --enjoy-primary-dark: #6d28d9;
  --enjoy-primary-light: #8f5ff5;
  --enjoy-primary-soft: #d1b5ff;
  --enjoy-secondary: #ef993a;
  --enjoy-secondary-light: #f4ae6a;
  --enjoy-secondary-soft: #fcecdb;
  --enjoy-lime-yellow: #cbff2e;
  --enjoy-primary-deep: #090f30;
  --enjoy-primary-deep-light: #1a235c;
  --enjoy-primary-deep-soft: #3a3f59;
  --enjoy-accent: #ec4899;
  --enjoy-success: #269420;
  --enjoy-error: #ef4444;
  --enjoy-glass: #dde0ff;
  --enjoy-glass-lavender: #dde0ff4c;
  --enjoy-gray-light: #dde0ff66;
  --enjoy-gray-50: #f9fafb;
  --enjoy-gray-100: #f3f4f6;
  --enjoy-gray-200: #e5e7eb;
  --enjoy-gray-300: #d1d5db;
  --enjoy-gray-400: #9ca3af;
  --enjoy-gray-500: #6b7280;
  --enjoy-gray-600: #4b5563;
  --enjoy-gray-650: #53576e;
  --enjoy-gray-675: #848798;
  --enjoy-gray-700: #374151;
  --enjoy-gray-800: #1f2937;
  --enjoy-gray-900: #111827;
  --primary: black;
  --muted: #f7f7f7;
  --muted-foreground: #737373;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

@layer base {
  body {
    font-family: 'IBM Plex Sans Arabic';
    background: #f8f9ff;
    color: var(--enjoy-primary-deep);
  }
}

@layer utilities {
  .text-enjoy-primary {
    color: var(--enjoy-primary);
  }

  .text-enjoy-primary-dark {
    color: var(--enjoy-primary-dark);
  }

  .text-enjoy-primary-light {
    color: var(--enjoy-primary-light);
  }

  .text-enjoy-primary-deep {
    color: var(--enjoy-primary-deep);
  }

  .text-enjoy-primary-soft {
    color: var(--enjoy-primary-soft);
  }

  .text-enjoy-secondary {
    color: var(--enjoy-secondary);
  }

  .text-enjoy-glass {
    color: var(--enjoy-glass);
  }

  .text-muted-foreground {
    color: var(--muted-foreground);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .bg-muted {
    background-color: var(--muted);
  }

  .bg-enjoy-primary {
    background-color: var(--enjoy-primary);
  }

  .bg-enjoy-primary-light {
    background-color: var(--enjoy-primary-light);
  }

  .bg-enjoy-primary-soft {
    background-color: var(--enjoy-primary-soft);
  }

  .bg-enjoy-secondary {
    background-color: var(--enjoy-secondary);
  }

  .bg-enjoy-secondary-light {
    background-color: var(--enjoy-secondary-light);
  }

  .bg-enjoy-secondary-soft {
    background-color: var(--enjoy-secondary-soft);
  }

  .bg-enjoy-primary-deep {
    background-color: var(--enjoy-primary-deep);
  }

  .bg-enjoy-glass {
    background-color: var(--enjoy-glass);
  }

  .bg-enjoy-gray-light {
    background-color: var(--enjoy-gray-light);
  }

  .border-enjoy-primary {
    border-color: var(--enjoy-primary);
  }

  .border-enjoy-primary-deep {
    border-color: var(--enjoy-primary-deep);
  }

  .border-enjoy-primary-dark {
    border-color: var(--enjoy-primary-dark);
  }

  .border-enjoy-glass {
    border-color: var(--enjoy-glass);
  }

  .hover\:text-enjoy-primary:hover {
    color: var(--enjoy-primary);
  }

  .hover\:text-enjoy-primary-deep:hover {
    color: var(--enjoy-primary-deep);
  }

  .hover\:text-enjoy-primary-soft:hover {
    color: var(--enjoy-primary-soft);
  }

  .hover\:text-enjoy-primary-deep-light:hover {
    color: var(--enjoy-primary-deep-light);
  }

  .hover\:bg-enjoy-primary:hover {
    background-color: var(--enjoy-primary);
  }

  .hover\:bg-enjoy-primary-dark:hover {
    background-color: var(--enjoy-primary-dark);
  }

  .hover\:bg-enjoy-primary-soft:hover {
    background-color: var(--enjoy-primary-soft);
  }

  .hover\:bg-enjoy-primary-light:hover {
    background-color: var(--enjoy-primary-light);
  }

  .hover\:bg-enjoy-secondary-light:hover {
    background-color: var(--enjoy-secondary-light);
  }

  .hover\:bg-enjoy-primary-deep-light:hover {
    background-color: var(--enjoy-primary-deep-light);
  }

  .hover\:bg-enjoy-gray-light:hover {
    background-color: var(--enjoy-gray-light);
  }

  .hover\:bg-enjoy-gray-700:hover {
    background-color: var(--enjoy-gray-700);
  }

  .hover\:border-enjoy-primary:hover {
    border-color: var(--enjoy-primary);
  }

  .hover\:bg-muted:hover {
    background-color: var(--muted);
  }

  .shadow-custom {
    box-shadow: 0 4px 18px 2px rgba(0, 0, 0, 0.08);
  }

  .shadow-header {
    box-shadow: 0 2px 3px 0 rgba(210, 210, 228, 0.09);
  }
}

a {
  text-decoration: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-phone-number-input__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.react-phone-number-input__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.react-phone-number-input__country {
  margin-right: 0.5rem;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: #faf594;
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}
